# Introduction to python

In [5]:
print("helloworld")#print+ left bracket+''or""+right bracket
#control+return-->run
#two ways to produce something:1.print 2.output
#when print something, if the content is a string(text), use single/double quote, if it is a storage, no need of quotes

helloworld

## 1. Variables in Python

concept: 

a. Variables are used for storing data for later use

b. Variables'name can be combination of lower case, upper case, digits and underscore_. but can not start with digits

In [2]:
a=10
b=15
a+b

25

In [4]:
a=10
b=15
sum = a+b 
print(sum) # create a new variable "sum" to store the data

25

## 2. Data types

In [7]:
a=10
a=15 # create a new variable "a" to storage 15, not replace 10 with 15. different with Java
a="12355"#another new variable "a" to storage the string
a

'12355'

In [8]:
type(a)

str

In [9]:
b=10
type(b)

int

In [10]:
print(type(a))
print(type(b))

<class 'str'>
<class 'int'>

## 3. python numbers

python doesn't limit the length of numbers, doesn't like Java and C++

In [12]:
a1=33 #integer
a2=2.3 #float
a3=4+5j #complex numbers
print(a1)
print(a2)
print(a3)
print(type(a1))
print(type(a2))
print(type(a3))

33
2.3
(4+5j)
<class 'int'>
<class 'float'>
<class 'complex'>

In [15]:
a=10
print(id(a))#shows different a since id is different
a=a+1
print(id(a))
a

4389553856
4389553888

11

In [17]:
a=10
b=10
print(id(a))# if the number in[-5,256], it refers to the same storage
print(id(b))
c=1000
d=1000
print(id(c))# if the number out of the range[-5,256], it refers to the different storage
print(id(d))

4389553856
4389553856
4431159888
4431159920

## 4. arithmetic operations

In [22]:
a=10
b=3
a+b
a-b #only returns the last line result

7

In [23]:
a*b

30

In [26]:
a**b # a raised to power b-->exponentiation

1000

In [24]:
a/b

3.3333333333333335

In [25]:
a//b #just the integer part

3

In [27]:
a%b #reminder

1

In [28]:
2+3*4#-->to avoid confusion 2+(3*4)

14

In [29]:
2*3/4 # doesn't matter what operation done first

1.5

In [31]:
2*3//4 # by order calculate -->recommendation:(2*3)//4 
print(2*3//4)
print(2//4*3)

1
0

## 5. input

In [35]:
a=input()
print(type(a))# input rerurns string not value
b=input()
print(type(b))
s=a+b
print(s)

23
<class 'str'>
45
<class 'str'>
2345

In [39]:
c=int(b)#convert string(only have digits) to integer
print(c)
print(type(c))
d=int(4.5)#convert a float to a integer
print(d)

45
<class 'int'>
4

In [40]:
a=int(input())
print(type(a))
b=int(input())
print(type(b))
s=a+b
print(s)

23
<class 'int'>
45
<class 'int'>
68

In [41]:
c=4
d=float(c) # convert integer into a float
print(d)
print(type(d))

4.0
<class 'float'>

common difference

In [44]:
a=int(input())
b=int(input())
c=int(input())

common_difference=a+(b-1)*c
common_difference

1
3
5

11