# Strings, List & 2D List

## 1. strings

In [1]:
# string is immutable
a="abc def"
type(a)

str

In [2]:
a[0]# cannot change string value

'a'

In [3]:
a[3]

' '

In [4]:
type(a[0])

str

In [5]:
for i in a :
    print(i)

a
b
c

d
e
f

## 2. inbuilt functions in string

### 2.1  \

In [7]:
#if you want to use single quote in the string you should use double quotes for the string
#if you want to use double quote in the string you should use single quotes for the string
a="this is tom's pen"
b='he said"life is good"'
#but you can use lush to do this,\ tells you that the' is just single quote not the string ending quote
a='this is tom\'s pen'

### 2.2  + == >

In [9]:
a+b

'this is tom\'s penhe said"life is good"'

In [10]:
a==b

False

In [11]:
a>b

True

### 2.2 split

In [12]:
a="this is a str"
a.split()#by default, split by space
         #a.split(",")  or a.split("is")

['this', 'is', 'a', 'str']

In [13]:
a.split("is")

['th', ' ', ' a str']

### 2.3 replace

In [14]:
a.replace("is","are")

'thare are a str'

### 2.4 find

In [19]:
a.find("is")#start from which index （location）

2

In [21]:
#if can't find,return -1
a.find("isff")

-1

### 2.5 uppercase/lowercase

In [22]:
a.upper()

'THIS IS A STR'

In [23]:
a.lower()

'this is a str'

In [24]:
a.islower()

True

In [25]:
a.isalpha()#since it has space

False

In [27]:
a.startswith('th')

True

## 3. strings slicing

In [29]:
a="this is slicing"

In [30]:
#a[start index:end index]
a[2:5]# get 234 no 5

'is '

In [31]:
a[2:]# from 2 to the end

'is is slicing'

In [32]:
a[:4]# from starting to 3

'this'

In [33]:
a[:]# complete string

'this is slicing'

In [34]:
#[starting,endind,skip]
a[2:10:2] #2-->中间隔一个，3-->中间隔两个

'i ss'

In [35]:
a[10:2:-1]

'ils si s'

In [38]:
#replace first a with b
s=input()
a="x"
b="y"
p=s.find(a)
ans=s
if p!=-1:
    ans=s[:p]+b+s[p+1:]
print(ans)

abcdxoeiu
abcdyoeiu

In [39]:
#replace all of a with b
s=input()
ans=s
a="x"
b="y"
for i in range(0,len(ans)):
    if ans[i]==a:
        ans=ans[:i]+b+ans[i+1:]
print(ans)

abscxodkexrrr
abscyodkeyrrr

**Exercise 1:**
Given a String s, check it its palindrome. Return true if string is palindrome, else return false.
Palindrome strings are those, where string s and its reverse is exactly same. input-->abcdcba, output-->True

In [3]:
s=input()
for i in range(len(s)):
    if s[i]!=s[len(s)-i-1]:
        print("False")
        break
else:
    print("True")

vyyv
True

**Exercise 2:**
Given a String S of length n, print all its substrings.
Substring of a String S is a part of S (of any length from 1 to n), which contains all consecutive characters from S.
 
                input-->xyz
                output-->x,y,z,xy,xz,yz,xyz

In [13]:
s=input()
for j in range(len(s)):
    for i in range(len(s)-j):
        print(s[j:j+i+1])

xyz
x
xy
xyz
y
yz
z

## 4. Lists

In [14]:
a=[1,2,3]
type(a)

list

In [15]:
a=list()
a

[]

In [18]:
a=[1,2,3]
a[0]

1

In [21]:
#different with strings, you can change the lists
a[2]=40
a

[1, 2, 40]

In [ ]:
a=[1,2,3,"abc",4.5,True,[1,2,4]]

In [23]:
b=[0 for i in range(10)]
b

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [24]:
b=[i for i in range(10)]
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
b=[i*i for i in range(10)]
b

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## 5. list inbuilt function

### 5.1 append/insert/extend/remove/pop/del/sort/index/in

In [28]:
a=[1,2,3,4]
b=[5,6,7]
a+b

[1, 2, 3, 4, 5, 6, 7]

In [29]:
a*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [33]:
# add data to the end
a=[1,2,7,8]
a.append(6)
a

[1, 2, 7, 8, 6]

In [37]:
# add data to the specific site
b=[1,2,7,8]
b.insert(0,6)
b

[6, 1, 2, 7, 8]

In [39]:
a.extend(b)#changing the existing data
a

[1, 2, 7, 8, 6, 6, 1, 2, 7, 8, 6, 1, 2, 7, 8]

In [40]:
#remove 1(number not index)
a.remove(1)
a

[2, 7, 8, 6, 6, 1, 2, 7, 8, 6, 1, 2, 7, 8]

In [41]:
a.pop(0)#a.pop(0)returns the fisrt element and 0 is index not number #a.pop() returns the last element
a

[7, 8, 6, 6, 1, 2, 7, 8, 6, 1, 2, 7, 8]

In [42]:
del a[4]#4 is index not number
a

[7, 8, 6, 6, 2, 7, 8, 6, 1, 2, 7, 8]

In [43]:
a.sort()
a

[1, 2, 2, 6, 6, 6, 7, 7, 7, 8, 8, 8]

In [44]:
max(a)

8

In [46]:
a.index(2)

1

In [47]:
8 in a

True

In [48]:
aList = [123, 'xyz', 'zara', 'abc'];
print(aList.pop())

abc

In [51]:
a=[1,2,3,4,5,6,7]
a.pop()
a

[1, 2, 3, 4, 5, 6]

## 6. taking input

In [52]:
s=int(input())
a=[]
for i in range(5):
    next_element=int(input())
    a.append(next_element)
a

5
1
2
3
4
5

[1, 2, 3, 4, 5]

In [20]:
l=input()
l.split()
a=[]
for s in l:
    a.append(int(s))
a

12345

[1, 2, 3, 4, 5]

In [24]:
a=[int(i) for i in input().split()]
a

1 2 3 4 5

[1, 2, 3, 4, 5]

## 7. difference of even odd

In [25]:
l=[int(s) for s in input().split()]
even=0
odd=0
for i in l:
    if i%2==0:
        even=even+i
    else:
        odd=odd+i
print(even-odd)

1 2 3 4 5 6 7 8 9 12 23 56 47
-7

**Exercise3**
Given an array of length N, swap every pair of alternate elements in the array.
You don't need to print or return anything, just change in the input array itself.

format:

                    input:
                    Line 1 : An Integer N i.e. size of array
                    Line 2 : N integers which are elements of the array, separated by spaces
                    output:
                    Elements after swapping in a single line, separated by space.

example:
                     
                     input-->6
                              9 3 6 12 4 32
                     output-->3 9 12 6 32 4
                     input-->9
                              9 3 6 12 4 32 5 11 19
                     output-->3 9 12 6 32 4 11 5 19

In [100]:
N=int(input())
s=input().split()
i=0
while i < N//2:
    temp=s[2*i+1]
    s[2*i+1]=s[2*i]
    s[2*i]=temp
    i=i+1
print(s)

9
9 3 6 12 4 32 5 11 19
['3', '9', '12', '6', '32', '4', '11', '5', '19']

In [109]:
N=int(input())
s=input().split()
i=0
while i < N//2:
    temp=s[2*i+1]
    s[2*i+1]=s[2*i]
    s[2*i]=temp
    i=i+1
for ele in s:
    print(ele,end=" ")

9
9 3 6 12 4 32 5 11 19
3 9 12 6 32 4 11 5 19

In [112]:
size=int(input())
if size==0:
    pass
else:
    arr=[int(s) for s in input().split()]
    for i in range (0, len(arr)-1, 2):
        temp=arr[i+1]
        arr[i+1]=arr[i]
        arr[i]=temp
    for i in range(0, len(arr)):
        print(arr[i], end=' ')

9
9 3 6 12 4 32 5 11 19
3 9 12 6 32 4 11 5 19

**Exercise 4.**
Find and return the equilibrium index of an array. Equilibrium index of an array is an index i such that the sum of elements at indices less than i is equal to the sum of elements at indices greater than i.
Element at index i is not included in either part.
If more than one equilibrium index is present, you need to return the first one. And return -1 if no equilibrium index is present.

                           input format:Line 1 : Size of input array
                                        Line 2 : Array elements (separated by space)
                                example:7
                                        -7 1 5 2 -4 3 0
                           output format:index
                                 example:3
                                 
                           constraints:Time Limit: 1 second
                                       Size of input array lies in the range: [1, 1000000]

In [119]:
n=int(input())
array=input().split()

sum_total=0
for i in range(n):
    sum_total=int(sum_total)+int(array[i])

m=0.5*sum_total  
sum_before=0
for i in range(n):
    sum_before=int(sum_before)+int(array[i])
    if sum_before==sum_total-sum_before+int(array[i]):
        print(i)
        break
else:
    print("-1")

7
-7 1 5 2 -4 3 0
3

## 8. List slicing

In [121]:
a=[1,2,3,4,5,6,7,8,8]
a

[1, 2, 3, 4, 5, 6, 7, 8, 8]

In [122]:
a[0:3]

[1, 2, 3]

In [123]:
a[:3:-1] #reverse,3-->4

[8, 8, 7, 6, 5]

In [124]:
a[::-1]

[8, 8, 7, 6, 5, 4, 3, 2, 1]

In [127]:
a.reverse()

In [128]:
a

[8, 8, 7, 6, 5, 4, 3, 2, 1]

## 9. multi-dimension lists
a list containing many lists

In [129]:
#2D list:[[],[],[]]
a=[[1,2,3],[4,5,6]]
a

[[1, 2, 3], [4, 5, 6]]

In [130]:
a[0]

[1, 2, 3]

In [132]:
a[0][0]

1

In [133]:
len(a)

2

In [134]:
len(a[0])

3

In [135]:
sizes=input().split()
m=int(sizes[0])
l=[]
for i in range(m):
    line=[int(i) for i in input().split()]
    l.append(line)
l

3
1 2 3 4
2 3 4 5
3 4 5 6

[[1, 2, 3, 4], [2, 3, 4, 5], [3, 4, 5, 6]]

In [141]:
sizes=input().split()
m=int(sizes[0])
n=int(sizes[1])
l=[]
for i in range(m):
    line=[]
    for j in range(n):
        ele=int(input())
        line.append(ele)
    l.append(line)
l

3 4
2
2
2
2
3
3
3
3
4
4
4
4

[[2, 2, 2, 2], [3, 3, 3, 3], [4, 4, 4, 4]]

In [143]:
sizes=input().split()
m=int(sizes[0])
n=int(sizes[1])
l=[]
l_list=[int(i) for i in input().split()]
for i in range(m):
    start=n*i
    end=n*(i+1)
    new_line=l_list[start:end]
    l.append(new_line)
l

3 4
1 2 3 4 5 6 7 8 9 10 11 12

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [144]:
r = [11, 12, 13, 14]
A = [[0, 10, 20],
     [30, 40, 50],
     [60, 70, 80]]
for row in A:
    for col in row:
        r.append(col+10)
print(r)

[11, 12, 13, 14, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [145]:
a=[[1,2] for i in range(10)]
a

[[1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2]]

In [146]:
a=[[0 for j in range(5)] for i in range(10)]
a

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [147]:
a=[[i for j in range(5)] for i in range(10)]
a

[[0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1],
 [2, 2, 2, 2, 2],
 [3, 3, 3, 3, 3],
 [4, 4, 4, 4, 4],
 [5, 5, 5, 5, 5],
 [6, 6, 6, 6, 6],
 [7, 7, 7, 7, 7],
 [8, 8, 8, 8, 8],
 [9, 9, 9, 9, 9]]

In [156]:
def sum_colume(a):
    m=len(a)
    if m==0:
        return
    n=len(a[0])
    for j in range(n):
        sum_j=0
        for i in range(m):
            sum_j=sum_j+a[i][j]
        print(sum_j)

In [157]:
a=[[j for j in range(5)] for i in range(10)]
sum_colume(a)

0
10
20
30
40

In [165]:
a = [10,23,56,[78]]
b = list(a)
a[3][0] = 95
a[1] = 34
print(b)

[10, 23, 56, [95]]

In [166]:
points = [[1, 2], [3, 1.5], [0.5,7]]
points.sort()
print(points)

[[0.5, 7], [1, 2], [3, 1.5]]

**Exercise 5.**
Given a 2D integer array of size M*N, find and print the sum of ith row elements separated by space.

                input format:Line 1 : Two integers M and N (separated by space) 
                             Line 2 : Matrix elements of each row (separated by space)
                             like: 4 2 
                                   1 2 3 4 5 6 7 8
                output format:Sum of every ith row elements (separated by space)
                             like: 3 7 11 15

In [175]:
sizes=input().split()
m=int(sizes[0])
n=int(sizes[1])
l=[]
l_list=[int(i) for i in input().split()]
for i in range(m):
    start=n*i
    end=n*(i+1)
    new_line=l_list[start:end]
    l.append(new_line)
for i in range(m):
    sum=0
    for j in range(n):
        sum=sum+int(l[i][j])
    print(sum,end=" ")

4 2
1 2 3 4 5 6 7 8
3 7 11 15

**Exercise 6.**
Given a two dimensional n*m array, print the array in a sine wave order. i.e. print the first column top to bottom, next column bottom to top and so on.
Note : Print the elements separated by space.
 
                input format:Line 1 : n, m, array elements (separated by space)
                             like: 3 4 1  2  3  4 5  6  7  8 9 10 11 12
                                  
                output format:1 5 9 10 6 2 3 7 11 12 8 4