# Tuples, Dictionary & Sets

## 1. Tuples
    tuples are immunitable

### 1.1 Basic Tuples

In [312]:
a=(1,2)
type(a)

tuple

In [2]:
b,c=3,4
print(b)
print(c)
d=3,4
print(d)
type(d)

3
4
(3, 4)

tuple

In [4]:
print(d[0])
print(d[1])
print(d[-1])
print(d[-2])

3
4
4
3

In [6]:
e=(1,2,3,4,5,6,7,8,9,10)
print(e[0:3])
print(e[3:])

(1, 2, 3)
(4, 5, 6, 7, 8, 9, 10)

### 1.2 Tuples functions

In [7]:
a=(1,2,3)
for i in a:
    print(i)

1
2
3

In [8]:
1 in a

True

In [9]:
len(a)

3

In [10]:
b=(4,5,6)
c=a+b #concatenation
c

(1, 2, 3, 4, 5, 6)

In [11]:
d=(a,b)
d

((1, 2, 3), (4, 5, 6))

In [12]:
e=a*4#repetition
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [13]:
max(a)

3

In [21]:
k = ('ab', 'abc', 'defd')

In [22]:
min(k)

'ab'

In [14]:
m=[1,2,3,4]
n=tuple(m)
n

(1, 2, 3, 4)

### 1.3 Variable length input and output

In [23]:
def sum(a,b,*more):
    sum=a+b
    for i in more:
        sum=sum+i
    return sum

In [24]:
sum(1,2,3,4,5)

15

In [25]:
def sum_diff(a,b):
    return a+b,a-b

In [30]:
m=sum_diff(5,3)
m

(8, 2)

In [31]:
d,e=sum_diff(5,3)
print(d,e)
print(d)
print(e)

8 2
8
2

## 2. Dictionary

### 2.1 Basic

In [37]:
a={"the":1,"a":5,1000:"abc"}
type(a)

dict

In [38]:
print(a)

{'the': 1, 'a': 5, 1000: 'abc'}

In [39]:
len(a)

3

In [40]:
b=a.copy()
b

{'the': 1, 'a': 5, 1000: 'abc'}

In [42]:
c=dict([("the",3),("a",5),(1000,2)])
c

{'the': 3, 'a': 5, 1000: 2}

In [43]:
d=dict.fromkeys(["abc",3,2])
d

{'abc': None, 3: None, 2: None}

In [44]:
d=dict.fromkeys(["abc",3,2],10)
d

{'abc': 10, 3: 10, 2: 10}

### 2.2 Access/looping elements in dictionary

get/keys/values/items

In [45]:
a={1:2,3:4,"list":[1,3],"dict":{1:2}}
a

{1: 2, 3: 4, 'list': [1, 3], 'dict': {1: 2}}

In [46]:
a[1]

2

In [47]:
a[3]

4

In [48]:
a["list"]

[1, 3]

In [49]:
a.get("list")

[1, 3]

In [50]:
print(a.get("li"))#defalut is none

None

In [52]:
print(a.get("li",0))# if can't find the key then return 0

0

In [53]:
a.keys()

dict_keys([1, 3, 'list', 'dict'])

In [54]:
a.values()

dict_values([2, 4, [1, 3], {1: 2}])

In [55]:
a.items()

dict_items([(1, 2), (3, 4), ('list', [1, 3]), ('dict', {1: 2})])

In [56]:
#get all the keys
for i in a: 
    print(i)

1
3
list
dict

In [57]:
#get all the keys and values
for i in a:
    print(i,a[i])

1 2
3 4
list [1, 3]
dict {1: 2}

In [58]:
#get all the values
for i in a:
    print(a[i])

2
4
[1, 3]
{1: 2}

In [59]:
#get all the values
for i in a.values():
    print(i)

2
4
[1, 3]
{1: 2}

In [60]:
#checking key in dictionary-->only checking key
"list" in a

True

In [61]:
2 in a

False

### 2.3 Adding or removing data in dictionary

#### 2.3.1 adding

In [62]:
a["tuple"]=(1,2,3)
a

{1: 2, 3: 4, 'list': [1, 3], 'dict': {1: 2}, 'tuple': (1, 2, 3)}

In [63]:
a[1]=10
a

{1: 10, 3: 4, 'list': [1, 3], 'dict': {1: 2}, 'tuple': (1, 2, 3)}

In [64]:
b={3:5,"the":4,2:100}

In [66]:
a.update(b) # update the value of key3 from 4 to 5
a           #update the other new keys and values

{1: 10,
 3: 5,
 'list': [1, 3],
 'dict': {1: 2},
 'tuple': (1, 2, 3),
 'the': 4,
 2: 100}

#### 2.3.2 removing

In [67]:
# remove one key and its value
a.pop("tuple") #remove the key tuple and its value

(1, 2, 3)

In [68]:
a

{1: 10, 3: 5, 'list': [1, 3], 'dict': {1: 2}, 'the': 4, 2: 100}

In [69]:
#remove one key and its value
del a[1]

In [70]:
a

{3: 5, 'list': [1, 3], 'dict': {1: 2}, 'the': 4, 2: 100}

In [71]:
# remove all the keys and their values
a.clear()

In [72]:
a

{}

### 2.3 Print all words with frequency K

In [78]:
s="this is a word string having many many word"
k=2
words=s.split()
d={}
for w in words:
    if w in d:
        d[w]=d[w]+1
    else:
        d[w]=1
d

{'this': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [80]:
for w in d:
    if d[w]==k:
        print(w)

word
many

In [81]:
s="this is a word string having many many word"
k=2
words=s.split()
d={}
for w in words:
    d[w]=d.get(w,0)+1
for w in d:
    if d[w]==k:
        print(w)

word
many

In [86]:
def PrintKFreWords(s,k):
    words=s.split()
    d={}
    for w in words:
        d[w]=d.get(w,0)+1
    for w in d:
        if d[w]==k:
            print(w)

In [87]:
s="this is a word string having many many word"
k=2
PrintKFreWords(s,k)

word
many

**Exercise 1.**
You are given an array of integers that contain numbers in random order. Write a program to find and return the number which occurs the maximum times in the given input.
If two or more elements contend for the maximum frequency, return the element which occurs in the array first.

              input format:Line 1 : An Integer N i.e. size of array
                           Line 2 : N integers which are elements of the array, separated by spaces
                           like:13
                                2 12 2 11 12 2 1 2 2 11 12 2 6 
              output format:Most frequent element
                            like:2

In [112]:
def maxFreq(l):
    dict={}
    for i in l:
        dict[i]=dict.get(i,0)+1
    max=0
    for j in dict:
        if dict[j]>max:
            max=dict[j]
    for k in dict:
        if dict[k]==max:
            print(k)
            break
            
n=int(input())
l=list(int(i) for i in input().strip().split(' '))
maxFreq(l)

13
2 12 2 11 12 2 1 2 2 11 12 2 6
2

In [152]:
def maxFreq(l):
    d={}
    for i in l:
        d[i]=d.get(i,0)+1
    ans = l[0]
    for num in l:
        if d[num] > d[ans]:
            ans = num
    print(ans)
            
n=int(input())
l=list(int(i) for i in input().strip().split(' '))
maxFreq(l)

13
2 12 2 11 12 2 1 2 2 11 12 2 6
2

**Exercise 2.**
Given an array that might contain duplicate elements, find the maximum possible distance between occurrences of two repeating elements i.e. elements having same value. If there are no duplicate elements in the array, return 0.

              input format:Line 1 : Contains integer N which is the size of array
                           Line 2 : Contains N Integers i.e. the elements of the array.
                           like:9
                                1  3  1  4  5  6  4  8  3
              output format: Maximum Distance Value
                             like:7
              Sample Output Explanation :
                             arr = [1, 3, 1, 4, 5, 6, 4, 8, 3];
                                index0 = 1
                                index1 = 3
                                index2 = 1
                                index3 = 4
                                index4 = 5
                                index5 = 6
                                index6 = 4
                                index7 = 8
                                index8 = 3

    In the above array, the repeating elements are :- (1, 3, 4)
    - Distance bw first and last occurence of 1 = 2(index2 - index0)
    - Distance bw first and last occurence of 3 = 7(index8 - index1)
    - Distance bw first and last occurence of 4 = 3(index6 - index3)

    So, for the above array you must return 7, as this is maximum possible distance between two repeating elements having same value.

In [247]:
N=int(input())
l=input().split()
def MaxDist(N,l):
    for i in range(N-1):
        for j in range(i+1,N):
            a=[]
            if l[i]==l[j]:
                difference=j-i
                a.append(difference)
for i in a:
    max=0
    if i > max:
        max=i
print(max)
MaxDist(N,l)

10
141 135 147 111 131 130 100 141 161 135
8

In [249]:
N=int(input())
l=input().split()
def MaxDist(N,l):
    i=0
    while i<N-1:
        j=0
        while j>=i+1 and j<N:
            a=[]
            if l[i]==l[j]:
                difference=j-i
                a.append(difference)
            j=j+1
        i=i+1
for i in a:
    max=0
    if i > max:
        max=i
print(max)
MaxDist(N,l)

10
141 135 147 111 131 130 100 141 161 135
8

## 3.Sets

### 3.1 sets basic

In [117]:
a={"apple","abs",34}
type(a)

set

In [118]:
"abs" in a

True

In [120]:
for i in a:
    print(i)

34
abs
apple

In [121]:
len(a)

3

In [149]:
s = {1,2,3,5,4,2,3,1} # if a set has two more same value, it only counts one time
print(len(s),end=" ")
s.add(4)
s.add(3)
print(len(s))

5 5

In [122]:
a.add("temp") # when you add same element in the set, it won't be added in, set only contain unique number
a

{34, 'abs', 'apple', 'temp'}

In [124]:
b={"abc","ghi"}
a.update(b)
a

{34, 'abc', 'abs', 'apple', 'ghi', 'temp'}

In [125]:
a.remove("temp")
a

{34, 'abc', 'abs', 'apple', 'ghi'}

In [126]:
a.discard(34)
a

{'abc', 'abs', 'apple', 'ghi'}

In [127]:
a.pop()

'abc'

In [128]:
a

{'abs', 'apple', 'ghi'}

### 3.2 sets function

In [140]:
a={1,2,3,4}
b={3,4,5,6}

In [131]:
a.intersection(b)

{3, 4}

In [132]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [133]:
a.difference(b)

{1, 2}

In [134]:
b.difference(a)

{5, 6}

In [135]:
a.symmetric_difference(b)

{1, 2, 5, 6}

In [136]:
a.intersection_update(b)
a

{3, 4}

In [139]:
a.difference_update(b)
a

{1, 2}

In [141]:
a.symmetric_difference_update(b)
a

{1, 2, 5, 6}

In [142]:
a.issubset(b)

False

In [143]:
c={1,2}
a.issuperset(c)

True

In [144]:
d={7,8}
a.isdisjoint(d)

True

### 3.3 sum of unique numbers in sets
{1,2,3,4,5,2,3,4}-->sum of (1,2,3,4,5) no repetition

In [150]:
def SumUniq(l):
    s=set()#create a empty set
    for i in l:
        s.add(i)
    sum=0
    for i in s:
        sum=sum+i
    return sum

In [151]:
SumUniq([1,2,3,4,5,6,4,3,2,1])

21

**Exercise 3.**
Find number of elements to be removed to make an array of all distinct elements.


              input format: Line 1 : Integer N 
                            Line 2 : N integers separated be a single space
                            like:5
                                 2 1 4 2 1
              output format: Integer
                             like 2 #it removes 1 and 2

In [251]:
N=int(input())
l=input().split()
len(l)
s=set()
for i in l:
    s.add(i)
print(len(l)-len(s))

5
2 1 4 2 1
2

**Exercise 4.**
In a given string, find the first non-repeating character .You are given a string, that can contain repeating characters. Your task is to return the first character in this string that does not repeat. i.e., occurs exactly once. The string will contain characters only from English alphabet set, i.e., ('A' - 'Z') and ('a' - 'z'). If there is no non-repeating character print the first character of string.

              input format: Line 1 : A String , as mentioned above.
                            like:aDcadhc
                            like:gdhIgHada
                                 
              output format: First non-repeating character
                             like:D
                             like:h

In [305]:
l=list(input())
s=[]
for i in range(len(l)-1):
    for j in range(i+1,len(l)):
        if l[i]==l[j]:
            s.append(l[i])
for i in s:
    l.remove(i)
print(l[0])

c
c

In [321]:
l=list(input())
dict={}
for i in l:
    dict[i]=dict.get(i,0)+1
for i in dict:
    if dict[i]==1:
        print(i)
        break

VqIdXfNgHbOcBCEYRMKORCLIVJ
q

**Exercise 5.**
In Little Flowers Public School, there are many students with same first names. You are given a task to find the students with same names. You will be given a string comprising of all the names of students and you have to tell the name and count of those students having same. If all the names are unique, print -1 instead.
Note: We don't have to mention names whose frequency is 1.

              input format: a string ‘str’ with space separated first names of students.
                            like:Abhishek harshit Ayush harshit Ayush Iti Deepak Ayush Iti
                            like:Abhishek Harshit Ayush Iti
                            
                                 
              output format: Print the names of students along with their count if they are repeating. 
                             If no name is repeating, print -1
                             like:harshit 2
                                  Ayush 3
                                  Iti 2
                             like:-1

**Exercise 6.**
You are provided with an integer array where each number is present either odd number of times or even number of times. You have to find and return the number which is present even number of times.
If multiple numbers are present even number of times, then return that number which occurs first among these numbers in the given array. If no such number exists, then return -1.

              input format: Line 1 : An Integer N i.e. size of array 
                            Line 2 : N integers which are elements of the array, separated by spacesa string 
                                    ‘str’ with space separated first names of students.
                            like:6
                                 2 5 3 5 3 4 
                            
                                 
              output format: Array element occurring even no. of times
                             like:5

**Exercise 7.**
You are given n triangles. You are required to find how many triangles are unique out of given triangles. For each triangle you are given three integers a, b and c (the sides of a triangle).
A triangle is said to be unique if there is no other triangle with same set of sides.

              input format: Line 1 : Integer n, the number of triangles Next n lines : Three integers a,b,c 
                                     (sides of a triangle).
                            like:5
                                 7 6 5
                                 5 7 6
                                 8 2 9
                                 2 3 4
                                 2 4 3
                            
                                 
              output format: print single integer, the number of unique triangles.
                             like:1

**Exercise 5.Pairs with difference K**
You are given with an array of integers and an integer K. Write a program to find and print all pairs which have difference K.
Take difference as absolute.

              input format: Line 1 : Integer n, Size of array
                            Line 2 : Array elements (separated by space)
                            Line 3 : K
                   Sample input1:4 
                                 5 1 2 4
                                 3
                   Sample input1:4 
                                 4 4 4 4 
                                 0
                                 
              output format: Print pairs in different lines (pair elements separated by space). In a pair, 
                             smaller element should be printed first.(Order of different pairs is not important)
                   sample output1:2 5
                                  1 4
                   sample output1:4 4
                                  4 4
                                  4 4
                                  4 4
                                  4 4
                                  4 4